
#vanta-house {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}


.house-theme .neon-title {
  color: #a0522d;
  text-shadow: 0 0 6px #5c2c1d, 0 0 12px #ffb199;
}

.spotify-btn {
  background: transparent;
  border: 1px solid #fff;
  color: white;
  padding: 5px 12px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s ease;
}

.spotify-btn:hover {
  background: #00ffc3;
  color: #000;
  text-decoration: none;
}